body {
    font-family: Arial;
    margin: 40px;
    background-color: #f2f2f2;
}

header {
    text-align: center;
    background: #333;
    color: white;
    padding: 20px;
}

section {
    background: white;
    margin: 15px 0;
    padding: 15px;
    border-radius: 8px;
}

h2 {
    color: #333;
}